# ==========================
# 🐍 DJANGO & PYTHON (BACKEND)
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales (¡CRÍTICO NO SUBIR ESTO!)
venv/
env/
ENV/
.venv/

# Base de datos (Generalmente no se sube la local)
db.sqlite3
db.sqlite3-journal

# Logs de errores de Django
*.log

# ==========================
# ⚛️ NEXT.JS & NODE (FRONTEND)
# ==========================
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================
# 🔐 SEGURIDAD Y GENERAL
# ==========================
# env files (claves secretas)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts